* {
	padding: 0;
	margin: 0;
}
body {
	color: black;
	background-color: #e1e7ea;
	font-family: mr-eaves-sans, sans-serif;
	font-weight: 200;
	font-style: normal;
	text-align: center;
	padding:90px;
	padding-top: 50px;
}

h1 {
	color: rgb(255,255,255);
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 30px;
}
h2 {
	color: #dd463c;
	font-family: 'Gibbs Book', sans-serif;
	font-weight: 700;
	font-size: 20px;
}
a {
  color: #dd463c;
	font-family: mr-eaves-sans, sans-serif;
	font-weight: 800;
	font-style: italic;
}